{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <h1>{{ 'Categories'|trans }}</h1>

    <div id="cat"><cat /></div>

    <hr />
    <br />

    <ul>
        {% for category in categories %}
            {% if category.children is not empty %}
                <li>{{ category.title }}</li>
            {% endif %}
            <ul>
            {% for children in category.children %}
                <li>{{ children.title }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>


{% endblock %}
